<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <P>Cher(e) Monsieur/Madame le/la responsable {{entreprise}} ,</P>

<P>Je me permets de vous contacter afin de postuler pour un stage au sein de votre entreprise {{entreprise}} . Je suis actuellement étudiant 3 ème année de licence en Informatique à l'ENI, et je suis très intéressé par l'opportunité de rejoindre votre entreprise pour compléter ma formation pratique.
</P>
<P>
J'ai particulièrement été attiré par le développement Web Django, devops et administration Système et réseaux, et je suis convaincu que ce stage me permettrait d'acquérir des compétences précieuses dans le domaine.Voilà ainsi de suite mon Cv et ma lettre de motivation</P>
</body>
</html>